@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Source+Sans+Pro');
body {
    font-family: Source Sans Pro, sans-serif;
}

.wrap{
    max-width: 50rem;
    padding: 0 5rem;
    margin: 8vh auto;
}

h1,
h2,
h3 {
    font-family: Roboto Mono, monospace;
    font-weight: 700;
    box-sizing: border-box;
}

h1{
    font-size: 2.5rem;
}

p{
    max-width: 30rem;
}

img{
    width: 100%;
}