@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Roboto');
body {
    font-family: Roboto, sans-serif;
}

.wrap{
    max-width: 55rem;
    padding: 0 3rem;
    margin: 8vh auto;

}

h1,
h2,
h3 {
    font-family: Roboto Mono, monospace;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0.5ch 0;
    text-transform: lowercase;
}

section{
    margin-bottom: 7vh;
}

h1{
    font-size: 2.5rem;
}

#summary p{
    max-width: 30rem;
}

#wireframes-container ul, .element-container{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
}

code{
    background: #ddd;
}

.element-container{
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.nav-button{
    font-family: Roboto Mono, monospace;
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.25s ease;
    text-transform: lowercase;
}

.nav-button:hover, .nav-button:focus{
    border-bottom: 4px solid black;
}

a{
    font-family: Roboto Mono, monospace;
    color: #3518F1;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button {
    font-family: Roboto Mono, monospace;
    box-sizing: border-box;
    border: 2px solid black;
    background: none;
}

button:hover, button:focus{
    background: gold;
}

button:active{
    background: #0CBB00;
}

input{
    font-family: Roboto Mono, monospace;
    border: 2px solid black;
    padding: 0.5rem;
}

@media (min-width: 53rem){

    #wireframes-container ul{
        grid-template-columns: repeat(3, 1fr);
    }

    .element-container{
        grid-template-columns: 1fr 4fr max-content;
    }

    #paragraph-container{
        grid-template-columns: 1fr 3fr 2fr;
    }

    .element-container h4{
        grid-column: 1 / span 3;
    }

    #phone-link {grid-column: 1;}
    #watch-link {grid-column: 2;}
    #console-link {grid-column: 3;}
}