@import url('https://fonts.googleapis.com/css?family=Markazi+Text:700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');
$content-color: rgb(0,
52,
92);
$background-color: rgb(253,
253,
246);
$faded-background: rgba(253,
253,
246,
0.95);
$faded-color: rgba(0,
52,
92,
0.8);
$logo-width: 4rem;
$logo-padding: calc( #{$logo-width} / 4);
$logo-border: calc( #{$logo-padding} / 2);
$serif: 'Markazi Text',
Georgia,
'Times New Roman',
Times,
serif;
$sans-serif: 'IBM Plex Sans',
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;
::-webkit-scrollbar {
    display: none;
}

* {
    font-family: $sans-serif;
    transition: all 0.25s ease;
    background-color: $background-color;
}

h1,
h2,
h3 {
    font-weight: 700;
    text-transform: capitalize;
    display: inline-block;
    margin: 0.5em 0 0;
    color: $content-color;
    font-family: $serif;
    line-height: 80%;
}

h1 {
    font-size: 2.85rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    li {
        font-size: 1rem;
    }
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

p {
    font-size: 1rem;
    margin: 0;
}

a:not(.nav-link) {
    font-weight: 700;
    color: $content-color;
    text-decoration: none;
    font-family: $serif;
    font-size: 1.25em;
    &:hover,
    &:active {
        text-decoration: wavy;
    }
}

.nav-link {
    font-size: 2rem;
    font-family: $serif;
    text-transform: capitalize;
    font-weight: 700;
    color: $content-color;
    text-decoration: none;
    border-bottom: calc(#{$logo-border} / 2) solid $background-color;
    width: fit-content;
    &:hover,
    &:active {
        border-color: $content-color;
    }
}

code {
    background-color: $faded-color;
    width: fit-content;
    padding: 0.5ch 1ch;
    color: $background-color;
    border-radius: 0.15rem;
}

.main-wrap {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 80rem;
    margin: 0 auto;
    padding: 10vh 5vw;
    &#home-wrap {
        #projects {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            grid-gap: 3vw;
            * {
                display: block;
            }
            .project {
                height: 15rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                border: $logo-border solid $content-color;
                background-repeat: no-repeat;
                * {
                    background-color: $content-color;
                    color: $background-color;
                    width: fit-content;
                    padding: 0.35em 0.75em 0.35em 0.5em;
                }
                h3 {
                    margin-top: 0;
                }
            }
            #makercube-home {
                background-image: url('../img/makercube/IPHONE\ EXPORT.png');
                background-size: 110%;
                background-position: 50% 20%;
                &:hover,
                &:focus {
                    background-image: url('../img/makercube/IPHONE\ EXPORT_hover.png');
                    * {
                        text-decoration: none;
                    }
                }
            }
            #visier-home {
                background-image: url('../img/visier_wfm.png');
                background-size: cover;
            }
        }
    }
}

#logo-wrap {
    width: $logo-width;
    padding: $logo-padding;
    border: $logo-border solid $content-color;
    font-size: unset; // background-color: unset;
    // position: fixed;
    svg {
        fill: $content-color;
        background-color: unset;
    }
}

.difference-filter {
    mix-blend-mode: difference;
}

section,
header {
    margin: 5vh 0;
}

nav {
    display: grid;
    ul {
        li {
            list-style: none;
        }
    }
}

header {
    background-image: url("../img/makercube/makercube2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    align-content: space-between;
    display: grid;
    padding: 5vh 5vw;
    grid-row-gap: 2vmin;
    grid-template-columns: 2vw 1fr 5fr;
    * {
        background-color: unset;
    }
    #back-matte {
        grid-column: 1 / span 2;
        grid-row: 1;
        mix-blend-mode: overlay;
        #cube-logo {
            fill: red;
        }
    }
    .header-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 1rem;
        grid-column: 2 / span 3;
        grid-row: 1;
        h1 {
            grid-column: 1 / span 3;
        }
        p {
            grid-column: 1 / span 1;
        }
        * {
            padding: 1rem;
            color: $content-color;
            background-color: $faded-background;
            width: fit-content;
        }
    }
    .metadata-grid {
        display: grid;
        grid-gap: 1rem;
        margin-top: 3vh;
        margin-bottom: 2vmax;
        grid-column: 2 / span 3;
        grid-row: 2;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        * {
            color: $background-color;
        }
        h3,
        li {
            color: $content-color;
            background-color: $faded-background;
            width: fit-content;
            padding: 0.4rem;
        }
        li {
            padding-right: 0.75rem;
        }
    }
}

section {
    .section-headings {
        border-top: $logo-border solid $content-color;
        width: calc( #{$logo-width}+( #{$logo-padding} * 3));
        padding-top: 1rem;
        line-height: 1em;
        grid-column: 1 / span 2;
    }
    p {
        max-width: 25rem;
    }
    .section-content {
        display: grid;
        grid-gap: 1vh;
        grid-template-areas: "p1" "img" "p2";
        margin-top: 2vh;
        height: fit-content;
        .p1 {
            grid-area: p1;
        }
        .p2 {
            grid-area: p2;
        }
        .img {
            grid-area: img;
            padding: 1rem;
            background-image: url("../img/bgdot.gif");
            height: fit-content;
            width: max-content;
            width: -webkit-fill-available;
            margin: 2em auto;
            figcaption {
                width: fit-content;
                padding: 0.8em;
                align-self: center;
                margin: 1em auto 0;
                span {
                    font-family: $serif;
                    margin-right: 0.5em;
                    font-size: 1.25em;
                }
            }
        }
        @media screen and (min-width: 50rem) {
            grid-template-areas: "p1 p1 . ." "img img p2 p2";
            .img {
                width: unset;
                margin: initial;
            }
        }
        @media screen and (min-width: 80rem) {
            grid-template-areas: "p1 . . ." "p2 . img img" ". . img img";
            grid-template-columns: 4fr 1vw 3fr 4fr;
            grid-template-rows: 1fr 3fr 3fr;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 4rem;
    }
    p {
        margin: 3vh auto 0;
    }
    max-width: 40ch;
}

#typography-grid,
#interactive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem 5rem;
    margin-top: 3vh;
    .type-item {
        width: inherit;
        display: grid;
        align-content: space-between;
        *:not(li) {
            display: block;
            margin-bottom: 0.5rem;
        }
        &#paragraph {
            padding-right: 6ch;
        }
        .type-element-name {
            color: $faded-color;
        }
        &#in-text-link {
            p,
            a {
                display: inline-block;
            }
        }
    }
}